nav.navbar.navbar-default
	.navbar-header
		button.navbar-toggle(
			type='button' 
			data-toggle='collapse' 
			data-target='#navbar-top'
		)
			- for(var iBar = 0; iBar < 3; iBar++)
				span.icon-bar
	.navbar-collapse.collapse#navbar-top
		ul.navbar-nav.navbar-fixed-left
			each item, index in ['About2', 'Career','Contacts']
				li
					if index == pageId
						a.active= item
					else
						a(href="#"): span= item