@font-face {
    font-family: 'exothin';
    src: 
         url('../fonts/exo/exothin.ttf?') format('truetype'),
         url('../fonts/exo/exothin.woff?') format('woff'),
         url('../fonts/exo/exothin.woff?') format('woff');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}