.navbar-default {
	@include reset-just;
	padding-top: 24px;
	border: 0;
	border-radius: 0;
	background-color: transparent;
	z-index: 10;

	.logo {
		display: block;
	}

	#navbar-top {
		text-align: center; 
	}

	.navbar-toggle {
		margin: 0;
		border-radius: 0;
		border: 0;
		&:hover, &:focus {
			background: transparent;
		}
		
	}

	.navbar-brand {

	}

	.navbar-nav {
		@include reset;
	    position: relative;
	}
}