// colors
$color-white: #fff;
$color-white-gray: #f2f2f2;
$color-blue: #1698d9;
$color-gray-light: #666666;
$color-black: #000;
$color-blue-light: #2ea8e6;
$color-pink: #d91667;
$color-pink-light: #e62e7a;
$color-yellow: #ffff66;
$color-gray: #b3b3b3;

// padding
$pd: 80px;

// other
$topline: 4.4rem;