@import "fonts";
// @import "sprite";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "variables";
@import "mixins";

html {
	font-size: 62.5%;
}

html, body {
	height: 100%;
}

@media(max-width: $screen-sm-max) {
	html {
		font-size: 45%;
	}	
}

body {
	@include font-default;
	font-size: 14px;
	line-height: 1.2;
	background: url('../img/pattern.jpg') center repeat;
}

a {
	@include transition; 
	&:hover, &:focus {
		text-decoration: none;
	}
}

h1 {
	@include reset-just;
	@include exothin;
	font-size: 3.6rem;
	color: $color-white;
}

.h1 {
	@extend h1;
}

h2, .h2 {
	@extend h1;
}

.shadow {
	@include size(100%,100%);
	display: table;
	background-image:linear-gradient(to top, rgba(0,0,0,0.50) 15%, transparent 50%,rgba(0,0,0,0.50) 85%);
}

[class^='col-'] {
	padding: 0 $pd/2;

	@media(max-width: $screen-md-max) {
		padding: 0 $pd/4;
	}
}

.row {
	margin-left: -$pd/2;
	margin-right: -$pd/2;

	@media(max-width: $screen-md-max) {
		margin-left: -$pd/4;
		margin-right: -$pd/4;
	}
}

.container {
	position: relative;
	z-index: 1;
	padding: 0 $pd;
	max-width: 1120 + $pd * 2;
	width: 100%;

	&--table {
		display: table-cell;
		vertical-align: middle;
	}

	@media(max-width: $screen-md-max) {
		padding: 0 $pd/2;
	}

	@media(max-width: $screen-sm-max) {
		padding: 0 $pd/4;
	}
}

.content {
	// margin-bottom: $pd;

	// @media(max-width: $screen-md-max) {
	// 	margin-bottom: $pd/2;
	// }

	// @media(max-width: $screen-sm-max) {
	// 	margin-bottom: $pd/4;
	// }
}

@import "header";
@import "../components/**";
@import "footer";