.eat {
    float: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    max-width: 320px;

    &:hover:not(&--disabled, &--selected) {
    	@include eat-state($color-blue-light);
    	
    }

    &--selected {
    	@include eat-state($color-pink);

    	&:hover:not(.nothover) {
			@include eat-state($color-pink-light);
    	}
    }

    &--disabled {
		.eat {
			&__container {
				cursor: default !important;
			}

			&__content {
				opacity: .5;
				* {
					color: $color-gray;
				}
			}

			&__wrapper {
				&:after {
					opacity: .5;
				}
			}

			&__footer {
				color: $color-yellow;
			}
		}

		@include eat-state($color-gray);


    }

	&__container {
		height: 48rem;
		border-radius: 10px;
		margin-bottom: $pd/4;
		position: relative;
		overflow: hidden;
		margin-bottom: $pd/4;
		cursor: pointer;
	&:before {
	    	@include after-before;
	    	@include size(2.1rem,$topline);
    		background: $color-white-gray;
    		right: 0;
    		border-top: solid 4px $color-blue;
    		border-right: solid 4px $color-blue;
    		border-radius: 0 10px 0 0;
    		z-index: 2;
	    }
	
	}

	&__wrapper {
		width: 100%;
		height: 48rem - $topline;
		padding: 1.9rem $topline;
		border-radius: 0 0 10px 10px;
		position: absolute;
		bottom: 0;

		&:before {
			@include after-before;
			@include size(100%,100%);
			left: 0;
			top: 0;
			border-radius: 0 0 10px 10px;
			border: solid 4px $color-blue;
			border-top: 0;
			background-color: $color-white-gray;
		}

		&:after {
			@include after-before;
			@include size(100%,100%);
			top: 0;
			left: 0;
			background: url('../img/cat.png') bottom left no-repeat;

			@media(max-width: $screen-sm-max) {
				background-size: 200px;
			}
		}
	}

	&__line {
		@include size(100%,$topline);
		background: $color-white-gray;
	    position: absolute;
	    border: solid 4px $color-blue;
	    border-bottom: 0;
	    border-left: 0;
	    margin-left: $topline;
	}

	&__triangle {
		@include size($topline,$topline);
		left: 0;
		position: absolute;

		&:before {
			@include after-before;
			border-left: solid 4.5rem transparent;
			border-bottom: solid $topline $color-white-gray;
		}

		&:after {
			@include after-before;
		    transform: translate(.88rem, -3.1rem) rotate(45deg);
		    width: 4px;
		    height: 13rem;
		    background: #1698d9;

		}
	}

	&__content {
		top: -$topline;
		position: relative;
		margin: .3rem 0 0 .4rem;
	}

	&__title {
		font-size: 16px;
		color: $color-gray-light;
		margin-bottom: 1rem;

		&--selected {
			color: $color-pink-light;
		}
	}

	&__name {
		@include font-default;
		font-size: 4.8rem;
		color: $color-black;
		font-weight: bold;
		line-height: 1;
    	margin: 0 0 1px -2px;
	}

	&__with {
		font-size: 2.4rem;
	}

	&__options {
		margin-top: 1.4rem;
		color: $color-gray-light;
	}

	&__weight {
		@include size(8.2rem,8.2rem);
		background: $color-blue;
		font-size: 4.2rem;
		color: $color-white;
		position: absolute;
		z-index: 2;
	    bottom: 1.3rem;
    	right: 1.5rem;
		border-radius: 100%;

		>div {
			@include center;
			text-align: center;
			line-height: 1;
		}

		&--units {
			margin-top: -2px;
			font-size: 2.1rem;
		}
	}

	&__footer {
		color: $color-white;
		position: relative;
		text-align: center;
		font-size: 13px;
		margin: -6px 0 20px 0;
	}

	&__buy {
		cursor: pointer;
		color: $color-blue;
		border-bottom: dashed 1px $color-blue;
	}
}