mixin eat(data)
	.clearfix
		.row
			each item in data
				section.col-md-4(class= (item.class ? item.class:'col-sm-6'))
					.eat(class= (item.classEat ? item.classEat:'')+(item.disabled ? ' eat--disabled':''))
						.eat__container
							.eat__triangle
							.eat__line
							.eat__wrapper
								.eat__content
									.eat__title(data-selected='Котэ не одобряет?')= item.title
									h2.eat__name= item.name
									.eat__with= item.with
									.eat__options
										each itemCount in item.count
											.eat__count
												b= itemCount.number+' '
												= itemCount.text

										each itemCount in item.features
											.eat__features
												if itemCount.number
													b= itemCount.number+' '
												= itemCount.text

										if item.note
											.eat__note= item.note
								.eat__weight
									div= item.weight
										.eat__weight--units кг

						footer.eat__footer(data-description= (item.description ? item.description:''))
							if item.disabled
								|Печалька, с курой закончился.
							else
								|Чего сидишь? Порадуй котэ, 
								span.eat__buy купи.


