include include/mixins
block vars
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(
			name="viewport" 
			content="width=device-width, initial-scale=1, user-scalable=no")
		meta(content="", name="description")
		meta(content="", name="keywords")
		title Нямушка &mdash; 
			block title

		link(rel="stylesheet", href="css/vendors.min.css")
		link(rel="stylesheet", href="css/custom.css")
	body
		.shadow
			.container--table
				.container
					header.header
						h1 Ты сегодня покормил кота?

					section.content
						block content
						
		script(src='js/vendors.min.js')
		script(src='js/custom.js')