include ../../app/components/eat/eat
extends _template
block vars
	- var pageId = 0

block title
	|Main Page

block content
	//- include functions here
	+eat([{title:'Сказочное заморское яство',name:'Нямушка',with:'с фуа-гра',count:[{number:10, text:'порций'}],features:[{text:'мышь в подарок'}],weight:'0,5', description:'Печень утки разварная с артишоками.'},{title:'Сказочное заморское яство',name:'Нямушка',with:'с рыбой',count:[{number:10, text:'порций'}],features:[{number:2, text:'мыши в подарок'}],weight:'2',description:'Головы щучьи с чесноком да свежайшая сёмгушка.'},{title:'Сказочное заморское яство',name:'Нямушка',with:'с курой',count:[{number:100, text:'порций'}],features:[{number:5, text:'мышей в подарок'}],weight:'5', note:'заказчик доволен',class:'col-sm-12',classEat:'col-md-12 col-sm-6', disabled: true,description:'Филе из цыплят с тaрюфелями в бульоне.'}])